[submodule "refs/superpowers"]
	path = refs/superpowers
	url = git@github.com:obra/superpowers.git
[submodule "refs/spec-kit"]
	path = refs/spec-kit
	url = git@github.com:github/spec-kit.git
[submodule "refs/flow-kit"]
	path = refs/flow-kit
	url = git@github.com:rihebty/flow-kit.git
[submodule "refs/anthropics-skills"]
	path = refs/anthropics-skills
	url = git@github.com:anthropics/skills.git
[submodule "refs/gsd-core"]
	path = refs/gsd-core
	url = git@github.com:open-gsd/gsd-core.git
[submodule "refs/BMAD-METHOD"]
	path = refs/BMAD-METHOD
	url = git@github.com:bmad-code-org/BMAD-METHOD.git
[submodule "refs/gstack"]
	path = refs/gstack
	url = git@github.com:garrytan/gstack.git
[submodule "refs/claude-task-master"]
	path = refs/claude-task-master
	url = git@github.com:eyaltoledano/claude-task-master.git
[submodule "refs/OpenSpec"]
	path = refs/OpenSpec
	url = git@github.com:Fission-AI/OpenSpec.git
[submodule "refs/opencode"]
	path = refs/opencode
	url = git@github.com:anomalyco/opencode.git
[submodule "refs/oh-my-openagent"]
	path = refs/oh-my-openagent
	url = git@github.com:code-yeongyu/oh-my-openagent.git
[submodule "refs/oh-my-openagent-toolkit"]
	path = refs/oh-my-openagent-toolkit
	url = git@github.com:HanTechnology/oh-my-openagent-toolkit.git
